@font-face {
  font-family: "iconfont";
  /* Project id 2608229 */
  src: url('iconfont.woff2?t=1624253850681') format('woff2'),
    url('iconfont.woff?t=1624253850681') format('woff'),
    url('iconfont.ttf?t=1624253850681') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e61d";
}

.icon-web:before {
  content: "\e658";
}

.icon-recommend:before {
  content: "\e643";
}

.icon-welfare:before {
  content: "\e71d";
}

.icon-ios:before {
  content: "\e81a";
}

.icon-android:before {
  content: "\e608";
}

.icon-menu01-01:before {
  content: "\e74d";
}